# Introduction
- List is a collection which allows us to put many objects in a single object
- Lists are ordered and we have an index to access.
- Lists are created using square brackets.
- List items are ordered, changeable, and allow duplicate values.

In [5]:
cities = ["bangalore", "mumbai", "delhi", "kolkata"]

In [6]:
print(cities)

['bangalore', 'mumbai', 'delhi', 'kolkata']

In [7]:
type(cities)

list

In [8]:
even_nos = [2, 40, 16, 8, 10, 62, 74, 98, 32]

In [9]:
type(even_nos)

list

In [10]:
multi = ["hi", 78, True, 3.14, "sorry"]   # list can contain different types of objects

In [11]:
type(multi)

list

# Length of List
- Use `len` function

In [12]:
len(cities)

4

In [13]:
len(even_nos)

9

# Empty List

In [14]:
el = list()

In [15]:
len(el)

0

In [16]:
type(el)

list

In [17]:
 el2 = []

# Accessing elements of the List
- Elements of the List can be accessed using **indexing**
- We can use the index operator `[]` (square brackets) to access an item in a list. 
- In Python, indices start at `0`(zero). So, a list having 5 elements will have an index from 0 to 4.
- Trying to access indexes other than these will raise an `IndexError`. 
- The index must be an integer. We can't use float or other types, this will result in `TypeError`.
- Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [18]:
cities

['bangalore', 'mumbai', 'delhi', 'kolkata']

In [19]:
cities[0]

'bangalore'

In [20]:
cities[1]

'mumbai'

In [21]:
cities[2]

'delhi'

In [22]:
cities[3]

'kolkata'

In [23]:
cities[-1]

'kolkata'

In [24]:
cities[-2]

'delhi'

In [25]:
cities[4]

IndexError: list index out of range

In [26]:
cities[-5]

IndexError: list index out of range

# List Slicing
- We can access a range of items in a list by using the slicing operator `:` (colon).

In [27]:
even_nos

[2, 40, 16, 8, 10, 62, 74, 98, 32]

In [28]:
len(even_nos)

9

In [29]:
even_nos[2:8]

[16, 8, 10, 62, 74, 98]

In [30]:
even_nos[:6]

[2, 40, 16, 8, 10, 62]

In [31]:
even_nos[3:]

[8, 10, 62, 74, 98, 32]

# Modifying a List
- Lists are mutable, meaning their elements can be changed
- We can use the assignment operator `=` to change an item or a range of items.

In [32]:
cities

['bangalore', 'mumbai', 'delhi', 'kolkata']

In [33]:
cities[2] = 'pune'

In [34]:
cities

['bangalore', 'mumbai', 'pune', 'kolkata']

## Modify using index range

In [35]:
cities[1:3]

['mumbai', 'pune']

In [36]:
cities[1:3] = ["chennai", "jaipur"]

In [37]:
cities

['bangalore', 'chennai', 'jaipur', 'kolkata']

# Properties of Lists
1. Heterogeneous (any data type!)
2. Ordered (numbered from 0 to n-1)
3. Have random access to any element (Using index) 
4. Number of elements can change very easily.
5. Lists are mutable

# Methods of List
1. `append(elem)`
2. `extend(L)`
3. `insert(i, elem)`
4. `remove(elem)`
5. `pop([i])`
6. `clear()`
7. `index(elem)`
8. `count(elem)`
9. `sort()`
10. `reverse()`

## `append(elem)`
- Add item elem at the end of the list

In [38]:
cities

['bangalore', 'chennai', 'jaipur', 'kolkata']

In [39]:
cities.append("pune")

In [40]:
cities

['bangalore', 'chennai', 'jaipur', 'kolkata', 'pune']

## `extend(L)`
- Add all items in given list L to the end

In [41]:
cities2 = ["mysore", "nagpur", "bhopal"]

In [42]:
cities.extend(cities2)

In [43]:
cities

['bangalore',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'mysore',
 'nagpur',
 'bhopal']

## `insert(i, elem)`
- Insert item elem at position `i`

In [44]:
cities

['bangalore',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'mysore',
 'nagpur',
 'bhopal']

In [45]:
cities.insert(1, "mumbai")

In [46]:
cities.insert(-1, "Surat")

In [47]:
cities

['bangalore',
 'mumbai',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'mysore',
 'nagpur',
 'Surat',
 'bhopal']

## `remove(elem)`
- Remove first item that is equal to elem, from the list

In [48]:
cities

['bangalore',
 'mumbai',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'mysore',
 'nagpur',
 'Surat',
 'bhopal']

In [49]:
cities.remove('mysore')

In [50]:
cities

['bangalore',
 'mumbai',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'nagpur',
 'Surat',
 'bhopal']

## `pop([i])`
- Remove and return item at position i (last item if i is not provided)

In [51]:
cities

['bangalore',
 'mumbai',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'nagpur',
 'Surat',
 'bhopal']

In [52]:
cities.pop()

'bhopal'

In [53]:
cities

['bangalore',
 'mumbai',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'nagpur',
 'Surat']

In [54]:
cities.pop(3)

'jaipur'

In [55]:
cities

['bangalore', 'mumbai', 'chennai', 'kolkata', 'pune', 'nagpur', 'Surat']

In [56]:
c = cities.pop()

In [57]:
c

'Surat'

## `index(elem)`
- Return index of first item that is equal to elem

In [58]:
cities

['bangalore', 'mumbai', 'chennai', 'kolkata', 'pune', 'nagpur']

In [59]:
cities.index('mumbai')

1

In [60]:
cities.index('chennai')

2

In [61]:
cities.append("mumbai")

## `count(elem)`
- Return the number of items that is equal to elem

In [62]:
cities.count('mumbai')

2

## `sort()`
- Sort items in a list in ascending order
- To sort in descending order use `reverse = True`

In [63]:
cities

['bangalore', 'mumbai', 'chennai', 'kolkata', 'pune', 'nagpur', 'mumbai']

In [64]:
cities.sort()

In [65]:
cities

['bangalore', 'chennai', 'kolkata', 'mumbai', 'mumbai', 'nagpur', 'pune']

In [66]:
cities.sort(reverse = True)

In [67]:
cities

['pune', 'nagpur', 'mumbai', 'mumbai', 'kolkata', 'chennai', 'bangalore']

## `reverse()`
- Reverse the order of items in a list

In [68]:
cities = ['bangalore',
 'mumbai',
 'Surat',
 'chennai',
 'jaipur',
 'kolkata',
 'pune',
 'nagpur',
 'Surat']

In [69]:
cities.reverse()

In [70]:
cities

['Surat',
 'nagpur',
 'pune',
 'kolkata',
 'jaipur',
 'chennai',
 'Surat',
 'mumbai',
 'bangalore']

## `clear()`
- Remove all items and empty the list

In [71]:
cities.clear()

In [72]:
cities

[]

# Deleting a List
- Use `del`

In [73]:
even_nos

[2, 40, 16, 8, 10, 62, 74, 98, 32]

In [74]:
del even_nos

In [75]:
even_nos

NameError: name 'even_nos' is not defined

# Operators on List
1. Membership
2. Arithmetic

## Membership
- `in`
- `not in`

In [76]:
multi

['hi', 78, True, 3.14, 'sorry']

In [77]:
78 in multi

True

In [78]:
40 not in multi

True

In [79]:
'hi' not in multi

False

In [80]:
True in multi

True

## Arithmetic
- `+`
- `*`

In [81]:
p = [1, 2, 3]
q = [4, 5, 6]

In [82]:
p + q

[1, 2, 3, 4, 5, 6]

In [83]:
p * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# Nested Lists
- List as a List element or we can say list inside a list
- Nested lists are accessed using nested indexing.

In [84]:
nestl = ["Monday", "Today", [1, 2, 3]]

In [85]:
nestl[0]

'Monday'

In [86]:
nestl[2]

[1, 2, 3]

In [87]:
nestl[2][0]

1

**A matrix can be represented using a nested list**

In [88]:
mx = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [99]:
mx

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [100]:
mx[0][2]

3

# `split` and `join` methods of String

## `split()`
- The `split()` method splits a string into a **list**.
- You can specify the separator with `sep`, default separator is any whitespace.
- Maximum number of splits to do can be specified with `maxsplit`.

In [91]:
sentence = "When the winter comes, the lone wolf dies but the pack survives."

In [92]:
sentence.split()

['When',
 'the',
 'winter',
 'comes,',
 'the',
 'lone',
 'wolf',
 'dies',
 'but',
 'the',
 'pack',
 'survives.']

In [93]:
sentence.split(",")

['When the winter comes', ' the lone wolf dies but the pack survives.']

In [94]:
sentence.split(maxsplit=2) #maxsplit: Maximum number of splits to do.

['When', 'the', 'winter comes, the lone wolf dies but the pack survives.']

## `join()`
- The `join()` method takes all items in an iterable and joins them into one string.
- A string must be specified as the separator.
- Syntax: `string.join(iterable)`

In [101]:
sentence_list = ['When',
 'the',
 'winter',
 'comes,',
 'the',
 'lone',
 'wolf',
 'dies',
 'but',
 'the',
 'pack',
 'survives.']

In [102]:
" ".join(sentence_list)

'When the winter comes, the lone wolf dies but the pack survives.'

In [97]:
seperator = " "

In [98]:
seperator.join(sentence_list)

'When the winter comes, the lone wolf dies but the pack survives.'